{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>서비스</title>
</head>
<body>
	<header class="base-header">
		<a href="{% url 'home' %}">
			<div class="icon">
				<span>서비스</span>
			</div>
		</a>
		<ul>
			{% if user.is_authenticated %}
			<a href="{% url 'post_create' %}"><li>글 작성</li></a>
			<a href="{% url 'logout' %}"><li>로그아웃</li></a>
			{% else %}
			<a href="{% url 'login' %}"><li>로그인</li></a>
			<a href="{% url 'signup' %}"><li>회원가입</li></a>
			{% endif %}
		</ul>
	</header>
	<article class="base-article">
		{% block content %}
		{% endblock %}
	</article>
	<footer class="base-footer">
		<span>이것은 무슨 서비스일까요 © 2021 All Rights Reserved.</span>
	</footer>
</body>
</html>